.bloco-imagem-texto {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve inicial */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bloco-imagem-texto:hover {
    transform: translateY(-10px); /* Eleva o bloco */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
}

.conteudo-texto {
    position: absolute;
    color: white;
    text-align: center;
    padding: 1rem;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.bloco-imagem-texto:hover .conteudo-texto {
    opacity: 0;
    visibility: hidden;
}

.custom-button-carrossel{
    background-color: rgb(0, 0, 255, 0.8); /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    width: fit-content;
    padding: 10px 30px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado do texto */
    display: inline-block; /* Exibe o botão como um elemento inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    border-radius: 20px; /* Cantos arredondados */
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.custom-button-carrossel:hover{
    background-color: darkblue;
}
.bloco-imagem-texto:hover .custom-button-carrossel {
    opacity: 1;
    visibility: visible;
}