.carousel-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajuste conforme necessário */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
