body{
    overflow-x: hidden;
    font: Arial, sans-serif;
}
h2 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.container{
    padding-top: 2rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    background-color: white;
}
.container.block{
    overflow-x: hidden;
    margin-top: 2rem;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
}

.carousel-container .titulo {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}
.titulo{
    font-size: 4rem;
    font-weight: bold;
}
.carousel-container .subtitulo{
    color: white;
    font-size: 1.5rem;
}

.imagem-exibicao {
    display: flex;
    justify-content: center; 
    align-items: start;    
}
.imagem-exibicao img{ 
    width: 100%;          
    border-radius: 20px;
}

footer {
    position: relative;
    color: #000000;
    padding: 20px;
}

/* para fazer com que tenha um background */
/* footer::before { */
    /* content: ""; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; Garante que o pseudoelemento ocupe toda a largura do footer */
    /* bottom: 0; Garante que o pseudoelemento ocupe toda a altura do footer */
    /* background-image: url('/imgs/'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* opacity: 0.15; Ajuste a opacidade conforme necessário */
/* } */

/* botao que contem logo/imagem presente no rodapé*/
.footer-icon{
    text-decoration: none;
    transition: transform 1.0s ease, filter 1.0s ease;
    width: 65%;
}

.footer-icon:hover img {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    filter: brightness(1.5); /* Aumenta o brilho em 50% */
}

/* tipo de botão que contem um icon como os de rede sociais*/
.icon {
    transition: transform 0.3s ease;
    height: 70px;
}
.icon#contato{
    height: 80px;
}
.icon:hover {
    transform: scale(1.2); /* Aumenta a imagem em 10% */
}
.description {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 1em;
    color: #333; 
    text-align: center;
}

/* tipo de botão que contem um texto*/
.custom-button {
    background-color: blue; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    width: fit-content;
    padding: 10px 30px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado do texto */
    display: inline-block; /* Exibe o botão como um elemento inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    border-radius: 20px; /* Cantos arredondados */
}

.custom-button:hover {
background-color: darkblue; /* Cor de fundo quando o cursor está sobre o botão */
}